<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>todo</title>
    <script src='vue.js'></script>
</head>
<body>
    <div id="todo">
    <input v-model='inputValue'  type="text">
    <button @click='append'>提交</button>
<ul>
    <list 
    v-for='(list,index) in arr' 
    :key="index" 
    :comnent='list'
    :index='index'
    @delete_one='handleDelete'
    >
    </list>
</ul>

</div>
<script>
    Vue.component('list',{
        props:['comnent','index'],
        template:'<li @click="handleClick">{{comnent}}</li>',
        methods:{
            handleClick: function() {
                this.$emit('delete_one',this.index);
            }
        }
    })
  
    new Vue({
        el:'#todo',
        data:{
            inputValue:'',
            arr:[]
        },
        methods:{
            append: function() {
               
                this.arr.unshift(this.inputValue);
                this.inputValue='';
               
            },
            handleDelete: function(index) {
                this.arr.splice(index,1)
            }
        }
    })
</script>
</body>
</html>